@import "tailwindcss";

/* Remove default smooth scroll to let Lenis handle it */
html {
  scroll-behavior: auto !important;
}

/* Custom Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  border: 2px solid #0a0a0a;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.2);
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.1) #0a0a0a;
}

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --btn-bg: rgba(255, 255, 255, 0.02);
  --btn-border: rgba(255, 255, 255, 0.3);

  /* Inner shadow */
  --btn-inner-shadow: inset 1px 2px 7px rgba(255, 255, 255, 0.18);
  --badge-inner-shadow: inset 1px 1px 5px rgba(255, 255, 255, 0.18)
}

body {
  font-family: var(--font-geist-sans);
  background-color: var(--background);
  color: var(--foreground);
}

.btn-surface {
  background: var(--btn-bg);
  border: 1px solid var(--btn-border);
  box-shadow: var(--btn-inner-shadow);
}

.font-hanken {
  font-family: var(--font-hanken), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.font-instrument {
  font-family: var(--font-instrument-serif), system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", sans-serif;
}

@keyframes gradient-move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  background-size: 300% 300%;
  animation: gradient-move 6s ease infinite;
}

@keyframes twinkle {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.3;
  }
}

.animate-twinkle {
  animation-name: twinkle;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}